.info {
    display: flex;
    margin-left: 200px;
    align-items: center;
    justify-content: center;
    /* background-color: rgb(218, 201, 201); */
    border-radius: 30px;
}


.form{
    max-width: 300px;
    width: 100%;
}

.custom-input {
    display: flex;
    flex-direction: column;

}

.custom-input label {
    font-weight: 500;
    font-size: 17px;
    margin-bottom: 5px;
    color: rgb(113, 113, 113);
}

.custom-input input {
    outline: none;
    padding: 10px;
    border-radius: 20px;
    border: 1px solid black;
    border-bottom: 4px solid black;
    font-size: 17px;
    margin-bottom: 15px;
    /* background-color: rgb(227, 212, 212); */
    /* background-color: rgb(242, 229, 229); */
    /* background-color: rgb(217, 235, 211); */
    background-color: rgb(224, 251, 215);

}

.custom-input input:focus {
    border: 1px solid rgb(154, 154, 154);
    border-bottom: 4px solid rgb(154, 154, 154);
}

.entrance {
    display: block;
    margin: 0 auto;
    cursor: pointer;
    font-weight: 500;
    padding: 10px 20px;
    background: none;
    border: 1px solid black;
    border-bottom: 4px solid black;
    border-radius: 20px;
    transition: all .3s ease;
    margin-bottom: 15px;
    background-color: rgb(242, 229, 229);
}

.entrance:hover {
    background-color: rgb(7, 220, 220);
}


.question {
    margin: 0 auto;
}

.link {
    margin: 0 auto;
    display: block;
    color: rgb(72, 167, 198);
    font-weight: bolder;
}

.link:hover {
    color: rgb(217, 235, 211);
}

@media(max-width: 570px) {
    .info {
        margin-top: 40px;
        margin-left: 0px;
    }
}

