
.cart {
    max-width: 820px;
    margin: 0 auto;
    /* background-color: antiquewhite; */
}

.header{
    display: flex;
    margin-bottom: 30px;
    align-items: center;
}


.container{
    display: flex;
    align-items: center;
    margin-left: auto;
}

.title{
    color: rgb(0, 0, 0);
    font-size: 32px;
    font-weight: 700;
    line-height: -1px;
    letter-spacing: 1%;
    text-align: left;
    margin-left: 9px;
}

.clear{
    cursor: pointer;
    color: rgb(182, 182, 182);
    font-size: 16px;
    font-weight: 400;
    line-height: -1px;
    letter-spacing: 0%;
    margin-left: 5px;

}

.clear:hover{
    color: rgb(160, 158, 158);
}

.info{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.quantity{
    font-size: 22px;
    line-height: -1px;
    letter-spacing: 1%;
    text-align: left;
}

.quantity span{
    font-weight: 700;
}

.sum{
    font-size: 22px;
    line-height: -1px;
    letter-spacing: 1%;
    text-align: left;
}

.sum span{
    font-weight: 700;
    color: rgb(254, 95, 30);
}

.doing{
    display: flex;
    justify-content: space-around;
}

.back{
    cursor: pointer;
    border: 1px solid black;
    border-bottom: 3px solid black;
    border-radius: 30px;
    padding: 5px 15px;
    background-color: rgba(7, 220, 220, 0.533);
}

.back:hover {
    background-color: rgb(7, 220, 220);
}

.pay{
    cursor: pointer;
    /* margin-left: auto; */
    text-align: center;
    border: 1px solid black;
    border-bottom: 3px solid black;
    border-radius: 30px;
    padding: 5px 15px;
    background-color: rgba(7, 220, 110, 0.437);
}

.pay:hover {
    background-color: rgba(7, 220, 110, 0.874);
}

@media(max-width: 600px){

    .quantity {
        font-size: 16px;
    }
    .sum{
        font-size: 16px;
    }
}

@media(max-width: 450px) {

    .header img{
        width: 20px;
        height: 20px;
    }

    .title{
        font-size: 20px;
        margin-left: 4px;
    }

    .clear{
        font-size: 14px;
        margin-left: 2px;
    }

    .quantity {
        font-size: 12px;
    }

    .sum {
        font-size: 12px;
    }
}

@media(max-width: 370px) {

    .header {
        margin-bottom: 15px;
    }

    .title {
        font-size: 17px;
    }   

    .clear {
        font-size: 11px;
    }

    .info{
        flex-direction: column;
        gap: 5px;
        align-items: center;
    }

    .quantity {
        font-size: 15px;
    }

    .sum {
        font-size: 15px;
    }
}

@media(max-width: 320px){
        
    .title {
            font-size: 15px;
        }
    
        .clear {
            font-size: 9px;
        }
}
