
.megazine{
    /* background: rgb(255, 201, 92); */
    background-color: rgb(218, 201, 201);
    padding: 40px 0px;
    height: 100vh;
    background-size: 20%;
}

@media(max-width: 1355px){
    .megazine{
        padding: 30px 15px;
    }
}

