:root {
  --animation-start-box-shadow: rgb(218, 201, 201);
}

a{
  text-decoration: none;
}

body{
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  overflow: hidden;
  -webkit-tap-highlight-color: transparent;
}


/* pagination */
.selected a { 
  background-color: rgb(218, 10, 10) !important; 
  color: white;
  transform: scale(0.9);
}